:root{
    --background-color:#ffffff;
    --background-hero-color:#2F303A;
    --team-background-color:#F5F4FA;
    --footer-background-color:#2F303A;
    --background-button:#F5F4FA ;
    --primary-text-color:#000000;
    --hero-text-color:#FFFFFF;
    --title-text-color:#000000;
    --accent-color:#2196F3;
    --h-text-color:#212121;
    --text-color:#757575;
    --nav-button-color:#212121;
    --nav-link-color:#757575;
    --nav-link-footer-color:color: rgba(255, 255, 255, 0.6);
    --logo-footer-color:#ffffff;
    --adress-color:#ffffff;
    --button-hover-color:#ffffff;
    
     --header-border:#ECECEC;
    --border-color:#EEEEEE;
    

    
    
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        

    
}
h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}

a{text-decoration: none;}

li{list-style: none;}

img{display: block;
    
}
.button{
    font-family: 'Roboto', sans-serif;
    cursor:pointer}
    
.container{
   
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
         margin-left: auto ;
    margin-right: auto;
    }
    .section{
     padding-top: 94px;
     padding-bottom: 94px;
    }
   
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

/* header */
.header-border{
    border-bottom: 1px solid var(--header-border)}

.nav{
    display: flex;
    align-items:center;
}
.logo-head{
    margin-right: 93px; 
    padding-top: 25px;
    padding-bottom: 25px;
}
.logo-head,.logo-footer{
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        
}
.logo-web {
    color:var(--accent-color)
}
.logo-head{
    color:var(--primary-text-color)
}

.nav-button .item{
    margin-right: 50px;
}

.nav-button .item:last-child{
    margin-right: 0;
}

.nav-button .link{
    color: var(--nav-button-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}
.nav-button .link.current {
    color: var(--accent-color);
}

.link:hover,.link:focus{
    color: var(--accent-color);
}
.nav.link{
    margin-left: auto;
}
.nav-link.head{
    
    color:var(--nav-link-color);
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;      
}
.tel{
    margin-left:50px ;
}

.nav-link.head:hover ,
.nav-link.head:focus,
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}
/* hero */
.container.hero{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.section-hero{
    max-width: 1600px;
        height: 600px;
        margin-left: auto;
         margin-right: auto;
    padding-top:200px ;
    padding-bottom: 200px;
    
    background-color: var(--background-hero-color);
}
.overlay{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/background-hero.jpg) ;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero-text{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;


    color: var(--hero-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase
}
.hero-button{
    margin-top:30px ;
 padding: 10px 32px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px ;
 border:none ;


    background-color:var(--accent-color) ;
    color: var(--hero-text-color);
    font-weight: 700;
     font-size: 16px;
     line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
}
/* section */
/* feuter */
.feuter {
    display: flex;
}
.feuter-box{
    margin-left: 30px;
    width: 270px;
}
.feuter-box:first-child{
    margin-left: 0;
}

.feature-name{
margin-bottom: 10px;

    color: var(--h-text-color);
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
    
}
.title-name{
    color: var(--h-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
}
/* work-img */
.section.work{
    padding-top:0;
}
   
.img{
    margin-right: 30px;
}
.img.last{
    margin-right: 0;
}

.work-name{
    margin-bottom: 50px;
}
    
.img-work{

    display: flex;
}
/* section team */
.section-team {
    background-color:var(--team-background-color) ;
}
.team-box{
    margin-top:50px ;
    display: flex;
    text-align: center;
}
.item-card{
    
    padding-bottom:30px ;
    margin-right:30px ;
   
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
    background-color: var(--background-color);
}
.item-card.last {
    margin-right:0;
}
.item-card h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

    

.name{
    color: var(--h-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
 
    
}
.job-title{
        font-size: 16px;
        line-height: 1.18;
        
}

/* portfolio */
.button-box{
    display: flex;
    justify-content:center;
    margin-bottom: 50px;

}
.button-box li{
    margin-right: 8px;

}
.button-box li:last-child{
    margin-right: 0;
}
 .button-filters{
    
    padding: 6px 22px;


    background-color: var(--background-button);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border: none;
    border-radius: 4px;
 }
 

 .button-filters:hover,
 .button-filters:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

    background-color: var(--accent-color);
    color: var(--button-hover-color);
 }
 /* card */


.card-set {
    gap:30px;
    display: flex;
    flex-wrap: wrap;
}

.item-prtf{
    flex-basis: calc((100% - 60px) / 3 );

}

.item-prtf:nth-child(3n){
    margin-right: 0;
}
.item-prtf:nth-last-child(-n+3)
{margin-bottom: 0;}



.card-content{ 
    padding:20px 24px;
    border-bottom:1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    
   
    
    
}


 .name-item{ color: var(--h-text-color);
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
 }

.item-description{
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.85;
}





/* footer */
footer{padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}

.logo-footer{
    display: block;
    margin-bottom:20px; ;
    color: var(--logo-footer-color);
}
.adress{

    color: var(--adress-color);
    font-style:normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
}
.footer-link{
    font-style: normal;
    color: var(--nav-link-footer-color);
    font-size: 14px;
    line-height: 1.71;
    }
.footer-adress li{
  
    margin-bottom:10px ;
}
.footer-adress li:last-child{
    margin-bottom: 0;
}



    /* other */

