 :root{
    --background-color:#ffffff;
    --background-hero-color:#2F303A;
    --team-background-color:#F5F4FA;
    --footer-background-color:#2F303A;
    --background-button:#F5F4FA ;
    --background-hero-hover:#188CE8;
    --background-color-social:rgba(255, 255, 255, 0.1);
    --background-color-img-work:rgba(47, 48, 58, 0.8);
    --background-backdrop:rgba(0, 0, 0, 0.2);
    --background-card-color:rgba(33, 150, 243, 0.9);





    --social-linl-color:#AFB1B8;
    --primary-text-color:#000000;
    --hero-text-color:#FFFFFF;
    --title-text-color:#000000;
    --accent-color:#2196F3;
    --h-text-color:#212121;
    --text-color:#757575;
    --nav-button-color:#212121;
    --nav-link-color:#757575;
    --nav-link-footer-color:rgba(255, 255, 255, 0.6);;
    --logo-footer-color:#ffffff;
    --adress-color:#ffffff;
    --button-hover-color:#ffffff;
    
     --header-border:#ECECEC;
    --border-color:#EEEEEE;
    

    
    
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        

    
}
h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}

a{text-decoration: none;}

li{list-style: none;}

img{display: block;
    
}
.button{
    font-family: 'Roboto', sans-serif;
    cursor:pointer}
    
.container{
   
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
         margin-left: auto ;
    margin-right: auto;
    }
    .section{
     padding-top: 94px;
     padding-bottom: 94px;
    }
   
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}




    /* модальное окно */

    .backdrop{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: var(--background-backdrop);
    }

    .backdrop.is-hidden{
        opacity: 0;
        pointer-events: none;
    }

    .modal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50% );


        min-width: 528px;
        min-height: 581px;
        background-color: var(--background-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;


    }
    .button-close{
        position: absolute;
        top:0;
        right: 0;
        margin-top: 8px;
        margin-right: 8px;

        background-color: var(--background-color);
        border: none;
        cursor: pointer;
    }





/* header */
.header-border{
    border-bottom: 1px solid var(--header-border)}

.nav{
    display: flex;
    align-items:center;
}
.logo-head{
    margin-right: 93px; 
    padding-top: 25px;
    padding-bottom: 25px;
}
.logo-head,.logo-footer{
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        
}
.logo-web {
    color:var(--accent-color)
}
.logo-head{
    color:var(--primary-text-color)
}

.nav-button .item{
    margin-right: 50px;
}

.nav-button .item:last-child{
    margin-right: 0;
}

.link{
     position: relative;
    
    padding-top:32px ;
    padding-bottom: 32px;

    color: var(--nav-button-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;


    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.link.current::after{
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;

    content: "";

    width: 100%;
    height: 4px;
background-color:var(--accent-color) ;
border-radius: 2px;

}

.nav-button .link.current {
    color: var(--accent-color);
}

.link:hover,.link:focus{
    color: var(--accent-color);
}
.nav.link{
    
    margin-left: auto;
}
.nav-link.head{
    display: flex;
    align-items: center;


    color:var(--nav-link-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;    
    
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tel{
    margin-left:50px ;
}

.header-icon.telh{
   width: 10px;
   height: 16px; 
}
.header-icon.conv{
    width: 16px;
    height: 12px;
}
.header-icon{

    margin-right: 10px;
    fill:currentColor;
}



.nav-link.head:hover ,
.nav-link.head:focus,
.footer-link:hover,
.footer-link:focus

{
color: var(--accent-color);
  fill: var(--accent-color);
}










/* hero */
.container.hero{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.section-hero{
    max-width: 1600px;
    min-height: 600px;
        margin-left: auto;
         margin-right: auto;
    padding-top:200px ;
    padding-bottom: 200px;
    
    background-color: var(--background-hero-color);
}
.overlay{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/background-hero.jpg) ;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero-text{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;


    color: var(--hero-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase
}
.hero-button{
    margin-top:30px ;
     padding: 10px 32px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px ;
    border:none ;

    background-color:var(--accent-color) ;
    color: var(--hero-text-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-button:hover,.hero-button:focus{
    background-color:var(--background-hero-hover) ;
}
/* section */
/* feuter */
.feuter {
    display: flex;
}
.feuter-box{
    margin-left: 30px;
    width: 270px;
}
.feuter-box:first-child{
    margin-left: 0;
}

.feuter-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 270px;
    height: 120px;
background-color: var(--background-button);
border-radius: 4px;
margin-bottom: 30px;
}

.feature-name{
margin-bottom: 10px;

    color: var(--h-text-color);
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform:uppercase;
    
}
.title-name{
    color: var(--h-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    
}
/* work-img */
.section.work{
    padding-top:0;
}
   
.img{
    position: relative;
    margin-right: 30px;
}
.img.last{
    margin-right: 0;
}

.text-work{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
 font-size: 14px;
 line-height: 1.14;
 
 letter-spacing: 0.03em;
 text-transform: uppercase;
  color: var(--background-color);
  
     background-color: var(--background-color-img-work);
    width: 100%;
    height: 25%;
    

    
}




.work-name{
    margin-bottom: 50px;
}
    
.img-work{

    display: flex;
}
/* section team */
.section-team {
    background-color:var(--team-background-color) ;
}
.team-box{
    margin-top:50px ;
    display: flex;
    text-align: center;
}
.item-card{
    
    padding-bottom:30px ;
    margin-right:30px ;
   
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
    background-color: var(--background-color);
}
.item-card.last {
    margin-right:0;
}
.item-card h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.link-team{
    display: flex;
    justify-content: center;
}
.list-link:nth-child(n+2) {
    margin-left: 10px;
}


.link-team-list{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--social-linl-color);
    
    transition-property: background-color ,fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    
}
.link-team-list:hover,
.link-team-list:focus,
.link-team-list.ftr:hover,
.link-team-list.ftr:focus
 {
    background-color: var(--accent-color);
    fill:var(--button-hover-color);
}
    

.name{
    color: var(--h-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
 
    
}
.job-title{
        font-size: 16px;
        line-height: 1.18;
        margin-bottom:16px ;
        
}

/* client */



.client {
    display: flex;
    margin-top: 50px;

}

.client-link {
    display: block;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;



    fill: var(--social-linl-color);
    border: 1px solid var(--social-linl-color);
    border-radius: 4px;

    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.client-link:focus,
.client-link:hover {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}

.client-list:nth-child(n+2) {
    margin-left: 30px;
}




/* portfolio */
.button-box{
    display: flex;
    justify-content:center;
    margin-bottom: 50px;

}
.button-box li{
    margin-right: 8px;

}
.button-box li:last-child{
    margin-right: 0;
}
 .button-filters{
    
    padding: 6px 22px;


    background-color: var(--background-button);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border: none;
    border-radius: 4px;

    transition-property: background-color,color,box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 

 .button-filters:hover,
 .button-filters:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

    background-color: var(--accent-color);
    color: var(--button-hover-color);
 }



 /* card */


.card-set {
    gap:30px;
    display: flex;
    flex-wrap: wrap;
}

.item-prtf{
    flex-basis: calc((100% - 60px) / 3 );
    position: relative;

}
.link-hover{
    display: block;



    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
   
}

.link-hover:hover,       
.link-hover:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.item-prtf:nth-child(3n){
    margin-right: 0;
}
.item-prtf:nth-last-child(-n+3)
{margin-bottom: 0;}



.card-content{ 
    padding:20px 24px;
    border-top: none;
    border-bottom:1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    
   
    
    
}


 .name-item{ color: var(--h-text-color);
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
 }

.item-description{
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.85;
}


.thumb{
    position: relative;
    overflow: hidden;
} 




.thumb-descrition{
    position: absolute;
    top: 0;
    
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 63px 23px 63px 23px;

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--adress-color);
    background-color: var(--background-card-color);
}




.link-hover:hover .thumb-descrition ,
.link-hover:focus .thumb-descrition {
    transform: translateY(0);
}










/* footer */
footer{ 
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
    
}

.logo-footer{
    display: block;
    margin-bottom:20px; ;
    color: var(--logo-footer-color);
}
.adress{

    color: var(--adress-color);
    font-style:normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
}
.footer-link{
    font-style: normal;
    color: var(--nav-link-footer-color);
    font-size: 14px;
    line-height: 1.71;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    }

.footer-adress li{
  
    margin-bottom:10px ;
}

.footer-adress li:last-child{
    margin-bottom: 0;
}

.footer-social,.footer-title{
display: flex;
}

.footer-title{
    display: inline-block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--adress-color);
}

.footer{
    display: flex;
    align-items: baseline;
}
.footer-social-group{
    margin-left: 70px;

}
.link-team-list.ftr{
    background-color:var(--background-color-social);
    fill: var(--adress-color);
}

    /* other */

