
    .feature {
    @media screen and (min-width :768px) {
    display: flex;
    flex-wrap: wrap;

    margin:-15px;
}

}


.feature__list {

    &:not(:last-child){
        @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
}
  
        
   
    
    
    @media screen and (min-width :768px){

        width: calc((100% - 2 * 30px) / 2);
       
        margin: 15px;
    }

        @media screen and (min-width :1200px){
            width: calc((100% - 4 * 30px) / 4);
            
            margin: 15px;

        }
}

.feature__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    
    height: 120px;
    background-color: $background-button;
    border-radius: 4px;
    margin-bottom: 30px;

   
    
} 
.feature__text{
    color: $text-color;
}


.feature__title {
    text-align: center;
    margin-bottom: 10px;

    color: $h-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}
