.hero {
    max-width: 1600px;
    
    margin-left: auto;
    margin-right: auto;
    

    background-color: $background-hero-color;

   

    &--container {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            padding-top: 118px;
            padding-bottom: 118px;
            

            @media screen and (min-width :1200px) {
                    padding-top: 200px;
                    padding-bottom: 200px;
            
            
                }
    
    }

    &--overlay {
        max-width: 1600px;
        max-height: 100% ;
        
       
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgr/hero-480.jpg);
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgr/hero-480@2x.jpg);
            }
        @media screen and (min-width: 768px) {
  
            height: 400px;
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgr/hero-768.jpg);
        
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                         background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgr/hero-768@2x.jpg);
                }
    
    }
         @media screen and (min-width: 1200px) {
             height: 600px;
             background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgr/hero-1200.jpg);
    
             @media (min-device-pixel-ratio: 2),
             (min-resolution: 192dpi),
             (min-resolution: 2dppx) {
                 background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgr/hero-1200@2x.jpg);
             }
         }

}
}


.hero__text {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;


    color: $hero-text-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    
    letter-spacing: 0.06em;
    text-transform: uppercase
}