  .modal {
      padding: 40px;
  }

  .modal-form {
      position: absolute;
      top: 50%;
      left: 50%;



      min-width: 528px;
      min-height: 581px;
      background-color:$background-color;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px;

      transform: translate(-50%, -50%) scale(1);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


  }


.modal__title {
              display: block;
              margin-bottom: 12px;
              font-weight: 700;
              font-size: 20px;
              line-height: 1.15;
              text-align: center;
              letter-spacing: 0.03em;
    
              color: $h-text-color;

              &+&{margin-top: 0;}
}

.modal__label {
    display: block;
    
    

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $nav-link-color;
    
    &+&{margin-top: 10px;}
    
    &:focus-within .modal__input {
            outline: none;
            border: 1px solid $accent-color;
        }
    &:focus-within .modal__icon {
        fill: $accent-color;
    }
}

 .modal__input {
     display: block;
     width: 100%;
     height: 40px;
     padding-left: 42px;
     padding-right: 42px;
     margin-top: 4px;

     border: 1px solid $modal-label-border;
     border-radius: 4px;
     transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &--position {
            position: relative;
        }
 }

   .modal__icon {
       position: absolute;
       top: 50%;
       left: 12px;
       transform: translateY(-50%);
       transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


       &--vector {
            opacity: 1;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &--check {
            opacity: 0;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
   }


   .modal__input--textarea {
       resize: none;
       height: 120px;
       padding: 12px 16px;

       &::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
    
            color: $modal-textarea-placrholder;
        }

   }

   .modal__label--checkbox {
       position: relative;
       display: flex;
       align-items: center;
       justify-content: center;

       margin-top: 20px;

   }

   .modal__input--checkbox {
       position: absolute;
       width: 1px;
       height: 1px;
       margin: -1px;
       border: 0;
       padding: 0;

       white-space: nowrap;
       clip-path: inset(100%);
       clip: rect(0 0 0 0);
       overflow: hidden;
   }

   .modal__icon--check,
   .modal__icon--vector {
       position: absolute;
       top: 50%;
       left: 10px;
       transform: translateY(-50%);
    }
.modal__icon--vector {
             opacity: 1;
             transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.modal__icon--check {
             opacity: 0;
             transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


    .modal__input--checkbox:checked{

        &~.modal__icon--check {
                opacity: 1;
            }
        &~.modal__icon--vector {
            opacity: 0;
        }
    }
    
.checkbox-link {
             position: relative;
             text-decoration: none;
             display: block;
             margin-left: 5px;
             color: $accent-color;


             &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 5px;
                    width: 100%;
                    height: 1px;
                    background-color: $accent-color;
                }
}


.backdrop {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $background-backdrop;
        opacity: 1;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);


        &.is-hidden {
                opacity: 0;
                pointer-events: none;
            }
                     
 }

 .backdrop.is-hidden .modal {
     transform: translate(-50%, -50%) scale(0.9);
 }






