 $background-color:#ffffff;
  $background-hero-color:#2F303A;
  $team-background-color:#F5F4FA;
  $footer-background-color:#2F303A;
  $background-button:#F5F4FA;
  $background-hero-hover:#188CE8;
  $background-color-social:rgba(255, 255, 255, 0.1);
  $background-color-img-work:rgba(47, 48, 58, 0.8);
  $background-backdrop:rgba(0, 0, 0, 0.2);
  $background-card-color:rgba(33, 150, 243, 0.9);
  $footer-form-border:rgba(255, 255, 255, 0.3);
  $modal-label-border:rgba(33, 33, 33, 0.2);
  $modal-textarea-placrholder: rgba(117, 117, 117, 0.5);





  $social-linl-color:#AFB1B8;
  $primary-text-color:#000000;
  $hero-text-color:#FFFFFF;
  $title-text-color:#000000;
  $accent-color:#2196F3;

  $h-text-color:#212121;
  $text-color:#757575;
  $nav-button-color:#212121;
  $nav-link-color:#757575;
  $nav-link-footer-color:rgba(255, 255, 255, 0.6);
 
  $logo-footer-color:#ffffff;
  $adress-color:#ffffff;
  $button-hover-color:#ffffff;

  $header-border:#ECECEC;
  $border-color:#EEEEEE;
  $logo-text:#000;